Skip to content
 This repository
Explore
Gist
Blog
Help
undersky0 undersky0
 
1  Unwatch 
  Star 0
 Fork 0undersky0/x3
 branch: master  x3 / .gitignore
undersky0undersky0 9 days ago secret
1 contributor
37 lines (31 sloc)  0.665 kb RawBlameHistory   
# See http://help.github.com/ignore-files/ for more about ignoring files.
#

*.log
*.class
*.pyc
*.pyo
.elasticbeanstalk/
*.rbc
capybara-*.html
.rspec
/log
/tmp
/.git
/public/system
/public/uploads
/coverage/
/spec
**.orig
rerun.txt
pickle-email-*.html

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
# config/initializers/secret_token.rb
# config/secrets.yml

## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc
public/uploads
Status API Training Shop Blog About
© 2014 GitHub, Inc. Terms Privacy Security Contact
